{% extends 'base.html' %} 
{% block title %} Homepage {% endblock %}
 {% block content %}
 <div class="container">
     <p><strong class="text-warning">@: </strong>{{request.user.username}}</p>
    <div class="row">
        <div class="col-md-3" style="margin-left: 2rem;">
            {% include 'hub/topics_component.html'%}
        </div>
        <div class="col-md-5">
            <h5>{{ room_count }} rooms available </h5>
            <a href='{% url 'create-room' %}'> Create Room</a>
            <hr>
            {% include 'hub/feed_component.html'%}
        </div>
        <div class="col-md-3">
            {% include 'hub/activity_component.html'%}
        </div>
    </div>
 
    
</div>
{% endblock %}
