{% extends 'base.html' %}

{% block title %} Authentification {% endblock %}

{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST" style="max-width: 550px; margin:auto">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary mt-2">
        </div>
    </form>
    <div style="text-align: center;">
        <p>Haven't created an account?</p>
        <a href="{% url 'register'%}">Sign Up</a>
    </div>
</div>
{% else %}
<!-- Register page -->
<div>
    <form action="" method="POST" style="max-width: 550px; margin:auto">
        {% csrf_token %}
        {{form.as_p}}
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary mt-2">
        </div>
    </form>
    <div style="text-align: center;">
        <p>Haven't created an account?</p>
        <a href="{% url 'login' %}">Sign In</a>
    </div>

</div>
{% endif %}
{% endblock %}